:root {
  --main-bg-color: #161819;
  --second-bg-color: #171b1d;
  --third-bg-color: #27292e;

  --main-light-color: #dddddd;
  --main-green-color: rgb(60, 219, 60);
  /*  */
  --main-radius: 10px;
  --second-radius: 5px;
  /* --picture-radius: 20px; */
  /*  */
  --font-size-xl: 18px
}